{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'index.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intelligent Data Wizard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="logo">
        <img src="Signature_Stacked_Purple_Hex.png" alt="logo">
    </div>
    <!-- <form id="survey-form" method="POST" action="{% url 'choose_type' %}"> -->
    <div class="container">
        <h1 id="title">Intelligent Data Wizard</h1>

        <p id="description">Please start generating the data and the schema</p>

        <div class="row">
            <div class="col-md-8 form_field">

                <form id="survey-form" method="POST" action="{% url 'choose_type' %}">
                <!-- <form id="survey-form" method="POST" action="http://127.0.0.1:8000/original_view/"> -->
                    {% csrf_token %}
                    <div class="form-group">
                        <p>What is your source data type</p>
                        <select id="source" name="source" class="form-control" required="">
                            <option value="">Select one below</option>
                            <option value="CSV">CSV</option>
                            <option value="SQL">SQL</option>
                            <option value="GoogleSheet">Google Sheet</option>
                            <option value="SmartSheet">Smart Sheet</option>
                            <option value="PDF">Image / PDF</option>
                        </select>
                    </div>
                    
                    <div id="src-CSV" class="form-group src hidden">
                        <label id="csv-label" name="csv-label">Path of your source CSV File:</label>
                        <input type="text" name="csv_src_file" class="form-control" id="csv_src_file"
                            ><br><br>
                    </div>
          
                    <div id="src-SQL" class="form-group src hidden">
                        <label id="sql-label" name="sql-label">Path of your source SQL:</label>
                        <input type="text" name="sql_src_file" class="form-control" id="sql_src_file"
                            >
                        <label id="table-label" name="table-label">Name of the source SQL Table:</label>
                        <input type="text" name="sql_table_name_src" class="form-control" id="sql_table_name_src"
                            ><br><br>
                    </div>
                    
                    <div id="src-GoogleSheet" class="form-group src hidden">
                        <label id="ggs-label" name="ggs-label">Path of your Google Sheet credentials json file:</label>
                        <input type="text" name="ggs_src_file" class="form-control" id="ggs_src_file"
                            >
                        <label id="sheets-label" name="sheets-label">Name of the sheets:</label>
                        <input type="text" name="ggs_src_sheets_name" class="form-control" id="ggs_src_sheets_name"
                            >
                        <label id="table-label" name="table-label">Name of the sheet:</label>
                        <input type="text" name="ggs_src_sheet_name" class="form-control" id="ggs_src_sheet_name"
                            ><br><br>   
                    </div>

                    <div id="src-SmartSheet" class="form-group src hidden">
                        <label id="sst-label" name="sst-label">The API token of your source Smart Sheet:</label>
                        <input type="text" name="sst_src_token" class="form-control" id="sst_src_token"
                            >
                        <label id="sheet-label" name="sheet-label">The Sheet Name:</label>
                        <input type="text" name="sst_src_sheet_name" class="form-control" id="sst_src_sheet_name"
                            ><br><br>
                    </div>

                    <div id="src-PDF" class="form-group src hidden">
                        <label id="pdf-label" name="pdf-label">The Path of your Image/PDF file:</label>
                        <input type="text" name="pdf_src_path" class="form-control" id="pdf_src_path"
                            ><br><br>
                    </div>
                    
                    <div class="form-group">
                        <p>What is your destination data type</p>
                        <select id="dest" name="dest" class="form-control" required="">
                            <option value="">Select one below</option>
                            <option value="CSV">CSV</option>
                            <option value="SQL">SQL</option>
                            <option value="GoogleSheet">Google Sheet</option>
                            <option value="SmartSheet">Smart Sheet</option>
                        </select>
                    </div>

                    <div id="dest-CSV" class="form-group dest hidden">
                        <label id="csv-label" name="csv-label">Path of your dest CSV File:</label>
                        <input type="text" name="csv_dest_file" class="form-control" id="csv_dest_file"
                            ><br><br>
                    </div>
          
                    <div id="dest-SQL" class="form-group dest hidden">
                        <label id="sql-label" name="sql-label">Path of your dest SQL:</label>
                        <input type="text" name="sql_dest_file" class="form-control" id="sql_dest_file"
                            >
                        <label id="table-label" name="table-label">Name of the dest SQL Table:</label>
                        <input type="text" name="sql_table_name_dest" class="form-control" id="sql_table_name_dest"
                            ><br><br>
                    </div>
                    
                    <div id="dest-GoogleSheet" class="form-group dest hidden">
                        <label id="ggs-label" name="ggs-label">Path of your Google Sheet credentials json file:</label>
                        <input type="text" name="ggs_dest_file" class="form-control" id="ggs_src_file"
                            >
                        <label id="sheets-label" name="sheets-label">Name of the sheets:</label>
                        <input type="text" name="ggs_dest_sheets_name" class="form-control" id="ggs_dest_sheets_name"
                            >
                        <label id="table-label" name="table-label">Name of the sheet:</label>
                        <input type="text" name="ggs_dest_sheet_name" class="form-control" id="ggs_dest_sheet_name"
                            ><br><br>
                    </div>

                    <div id="dest-SmartSheet" class="form-group dest hidden">
                        <label id="sst-label" name="sst-label">The API token of your dest Smart Sheet:</label>
                        <input type="text" name="sst_dest_token" class="form-control" id="sst_dest_token"
                            >
                        <label id="sheet-label" name="sheet-label">The Sheet Name:</label>
                        <input type="text" name="sst_dest_sheet_name" class="form-control" id="sst_dest_sheet_name"
                            ><br><br>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submit" class="submit">
                            CONFIRM
                        </button>
                    </div>

                    <!-- <div class="form-group"> -->
                    <!-- <input type="submit" value="convert"></input> -->
                    <!-- <input type="submit" value="convert"></input> -->
                    <!-- </div> -->

                </form>

            </div>
        </div>
    </div>
    <!-- </form> -->

</body>

</html>
